* {
  box-sizing: border-box;
}
:root {
  --primary-color: #ffb900;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  height: 9000px;
  overflow: auto;
}
h1 {
  font-family: sans-serif;
  font-weight: 700;
  color: #171100;
  font-size: 3.8rem;
  line-height: 1.27;
}
.heading-lv2 {
  font-family: sans-serif;
  font-weight: 700;
  color: #171100;
  font-size: 3.8rem;
  line-height: 1.27;
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-right: auto;
  margin-left: auto;
}
.header {
  background-color: #fffcf4;
}
.header.fixed {
  z-index: 1;
  position: sticky;
  top: -26px;
}
.header .header-body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
a {
  display: inline-block;
  text-decoration: none;
}
.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}
.nav a {
  position: relative;
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
}
.nav li.active a,
.nav a:hover {
  color: #171100;
  text-shadow: 1px 0 0 currentColor;
}
.nav li.active a::after {
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  background-color: #171100;
  border-radius: 1px;
  position: absolute;
  left: 21px;
  bottom: 6px;
}
.btn {
  font-size: 1.6rem;
  font-weight: 600;
  min-width: 118px;
  line-height: 50px;
  text-align: center;
  background-color: black;
  padding: 0 41px;
  border-radius: 24.5px;
  color: #fff;
  margin-left: 49px;
}
.header .btn-Sign-up {
  width: 144px;
}

.hero-main {
  background-color: #fffcf4;
  height: 806px;
}
.hero-main .main-content {
  display: flex;
  position: relative;
}
/* box right */
.hero-main .main-content .courses {
  position: relative;
  display: flex;
  width: 570px;
  height: 685px;
  top: 60px;
}
.hero-main .main-content .courses .info-courses {
  position: absolute;
  order: 1;
  width: 270px;
  height: 244px;
  background-color: #fff;
  right: 0;
  bottom: 48px;
  border-radius: 12px;
  padding: 24px;
}
.hero-main .info-courses .course {
  display: flex;
  height: 56px;
}
/* icon courses */
.hero-main .info-courses .icon {
  display: inline;
  width: 48px;
  height: 48px;
  margin: 4px;
  display: flex;
  border-radius: 50%;
  background-color: #fff9e8;
}
.hero-main .info-courses .icon-dev {
  background-color: #fcefff;
}
.hero-main .info-courses .icon-marketing {
  background-color: #ebeaff;
}
.icon img {
  padding: 12px;
}
/* text courses */
.hero-main .info-courses .amount-courses {
  font-weight: 400;
}
.hero-main .info-courses .title-courses,
h3 {
  font-weight: 600;
}
.hero-main .info-courses .course .text {
  margin-left: 12px;
}
.hero-main .info-courses .amount-courses {
  line-height: 26px;
  font-size: 1.4rem;
}
.hero-main
  .main-content
  .courses
  .info-courses
  .course
  .info-marketing-courses
  .amount-courses {
  line-height: 26px;
}
.hero-main .info-courses .title-courses {
  width: 124px;
  line-height: 30px;
  font-size: 1.8rem;
}

.hero-main .info-courses .dev {
  margin: 14px 0;
}

/* box left */
.hero-main .main-content .label {
  background-color: #fffcf4;
  width: 480px;
  height: 558px;
  position: absolute;
  right: 0px;
  bottom: 128px;
  top: 124px;
}
.label .title {
  font-size: 5.8rem;
  color: #171100;
  font-weight: 600;
  line-height: 64px;
  margin-bottom: 22px;
}
.label .caption {
  font-size: 1.8rem;
}
.btn-label {
  margin-top: 3.8rem;
  margin-bottom: 4.8rem;
  display: flex;
}
.btn-label .see-courses {
  background-color: var(--primary-color);
  color: #fff;
  width: 180px;
  line-height: 64px;
  margin-left: 0;
  border-radius: 32px;
}
.btn-label .btn-right {
  display: flex;
}
.btn-right .btn-video {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  margin: auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 28px;
}
.btn-right .video {
  color: #171100;
  margin: auto 4px;
}
.label-engagement p {
  width: 18.6rem;
  line-height: 3rem;
}
.label-engagement .info-label {
  display: flex;
}
.label-engagement .info-engagement {
  margin-right: 2.8rem;
  font-size: 4.4rem;
}
span {
  font-family: Poppins;
  font-weight: 400;
  font-size: 1.8rem;
  margin-left: 15px;
}
.popular {
  padding: 65px 0;
  margin-top: 135px;
}
.popular .info {
  width: 458px;
  height: 124px;
}
.popular .info h2 {
  font-size: 3.8rem;
  line-height: 4.8rem;
  font-weight: 700;
}
.popular .info p {
  color: #5f5b53;
  padding-top: 1.6rem;
  font-size: 1.8rem;
  line-height: 3rem;
}
.popular-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular-top .control {
  display: flex;
  gap: 18px;
}
.popular-top .control-btn {
  background: transparent;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 1px solid var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
}
.popular-top .control-btn:hover {
  color: #fff;
  background-color: var(--primary-color);
  cursor: pointer;
}
.popular .courses-list {
  display: flex;
  gap: 30px;
  padding-top: 55px;
}
.popular .course-item {
  border-radius: 12px;
  border: 1px solid #e2dfda;
}
.popular .course-item:hover {
  border: 1px solid transparent;
  box-shadow: 0px 18px 36px 0px #0000000d;
}
.popular .info-item {
  padding: 16px 22px 22px;
}
.popular .info-item .foot,
.course-item .info-item .head,
.course-item .info-item .head .rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.course-item .info-item .head a {
  color: #171100;
  font-size: 1.8rem;
  line-height: 1.67;
}
.course-item .rating .point {
  color: var(--primary-color);
}
.popular .info-item .desc {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.44;
  padding: 6px 0 12px;
}
.popular .info-item .foot .price {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
  margin-left: 0;
}
.popular .info-item .foot .btn-book {
  border: none;
}
.popular .info-item .foot .btn-book:hover {
  background-color: var(--primary-color);
  cursor: pointer;
}
